/*hidding scrollbar*/
html ::-webkit-scrollbar {
  display: none;
}

/*vartiables*/
:root {
  --gradientBg: rgb(254, 254, 254);
  --gradientBgDark: rgb(43, 41, 46);
  --tBarChildrenBottomMargin: 6%;
  --tBarChildBorderRadius: 0px;
  --youtubeChannelName: rgba(144, 142, 142, 0.584);
}

#root {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  padding: 0;
  margin: 0;
}
