
/*hidding scrollbar*/
html ::-webkit-scrollbar {
  display: none;
}

/*vartiables*/
:root{
  --gradientBg :rgba(153, 153, 153, 0.171);
  --tBarChildrenBottomMargin : 6%;
  --tBarChildBorderRadius : 0px;
}

#root {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  padding: 0;
  margin: 0;
}


